<div class="widget-container">
    <div class="widget green">
        <div class="icon">icon</div>
        <div class="value">
            <div class="top">32</div>
            <div class="bot">Locations</div>
        </div>
    </div>

    <div class="widget yellow">
        <div class="icon">icon</div>
        <div class="value">
            <div class="top">32</div>
            <div class="bot">Locations</div>
        </div>
    </div>

    <div class="widget red">
        <div class="icon">icon</div>
        <div class="value">
            <div class="top">32</div>
            <div class="bot">Locations</div>
        </div>
    </div>

    <div class="widget blue">
        <div class="icon">icon</div>
        <div class="value">
            <div class="top">32</div>
            <div class="bot">Locations</div>
        </div>
    </div>
</div>
