<div class="widget-container">
    <div class="widget green">
        <div class="icon"><img [src]="usersIcon"></div>
        <div class="value">
            <div class="top">32</div>
            <div class="bot">Users</div>
        </div>
    </div>

    <div class="widget yellow">
        <div class="icon"><img [src]="messagesIcon"></div>
        <div class="value">
            <div class="top">32</div>
            <div class="bot">Remaining Messages</div>
        </div>
    </div>

    <div class="widget red">
        <div class="icon"><img [src]="mailIcon"></div>
        <div class="value">
            <div class="top">32</div>
            <div class="bot">Remaining Mails</div>
        </div>
    </div>
</div>
