// Estilos generales
body {
    display: flex;
    align-items: center;
    justify-content: center;
    height: 100vh;
    margin: 0;
    background-color: #d8d8d8;
  }
  
  
  .centro {
    width: 200px; 
    height: 200px; 
    background-color: yellow; 
    text-align: center;
    line-height: 200px; 
  
    
    border-radius: 10px; 
    color: #333; 
    font-size: 18px; 
  }
  