<div *ngIf="dates" class="container">
  <h1>PAYMENT DATES</h1>
  <div *ngFor="let date of dates" class="dates-container">
    <div (click)="showDatePicker()" class="opening"><h2>{{ date.openingDate }}</h2>
      <h4>Apertura</h4>
      <mat-form-field *ngIf="showDatepicker">
        <input matInput [matDatepicker]="picker" placeholder="Choose a Date" (dateChange)="onDateChange($event)">
        <mat-datepicker-toggle matSuffix [for]="picker"></mat-datepicker-toggle>
        <mat-datepicker #picker panelClass="datepicker"></mat-datepicker>
      </mat-form-field>
    </div>
    <div (click)="showDatePicker1()" class="closing"><h2>{{ date.closingDate }}</h2>
      <h4>Ordinaria</h4>
      <mat-form-field *ngIf="showDatepicker1">
        <input matInput [matDatepicker]="picker" placeholder="Choose a Date" (dateChange)="onDateChange($event)">
        <mat-datepicker-toggle matSuffix [for]="picker"></mat-datepicker-toggle>
        <mat-datepicker #picker panelClass="datepicker"></mat-datepicker>
      </mat-form-field>
    </div>
    <div  (click)="showDatePicker2()" class="extraordinary"><h2>{{ date.extraordinaryDate }}</h2>
      <h4>Extraordinaria</h4>
      <mat-form-field *ngIf="showDatepicker2">
        <input matInput [matDatepicker]="picker" placeholder="Choose a Date" (dateChange)="onDateChange($event)">
        <mat-datepicker-toggle matSuffix [for]="picker"></mat-datepicker-toggle>
        <mat-datepicker #picker panelClass="datepicker"></mat-datepicker>
      </mat-form-field>
    </div> 
  </div>
  <div class="centro">
    
  </div>
</div>