.container {
  margin-top: 100px;
  padding-top: 10px;
  padding-left: 90px;
  padding-right: 50px;
  height: 100vh;
  background-color: #d8d8d8;

  h1 {
    font-weight: bold;
    font-size: 50px;
    color: #234F89;
    text-shadow:  2px 2px 4px #848485 ;
    text-align: center;
  }

  h2 {
    font-weight: 900;
    font-size: 25px;
    color: #d8d8d8;
  }

  h4 {
    font-weight: bold;
    color: #d8d8d8;
  }
}
.dates-container{
  display: flex;
  /* justify-content: space-between; */
  justify-content: center;

  .opening{
    border-radius: 10px;
    background-color: #5D2389;
    width: 200px;
    height: 90px;
    margin: 90px 30px;
    box-shadow: 3px 3px 2px #333;
    cursor: pointer;
  }
  .opening:hover{
    width: 220px;
    height: 110px;
  }

  .closing{
    border-radius: 10px;
    background-color: #234F89;
    width: 200px;
    height: 90px;
    margin: 90px 30px;
    box-shadow: 3px 3px 2px #333;
    cursor: pointer;
  }

  .closing:hover{
    width: 220px;
    height: 110px;
  }
  .extraordinary{
    border-radius: 10px;
    background-color: #23895D;
    width: 200px;
    height: 90px;
    margin: 90px 30px;
    box-shadow: 3px 3px 2px #333;
    cursor: pointer;
  }

  .extraordinary:hover{
    width: 220px;
    height: 110px;
  }
}
.dates-container,
.centro {
  width: 100%; 
  height: 200px;
  /* border: 2px dotted #333; */
  text-align: center;
  line-height: 200px;
  border-radius: 10px;
  color: #333;
  font-size: 18px;
  margin-top: 30px; 
}

mat-form-field {
  width: 200px;
}

