<div class="header">
    <div class="icons">
    <div class="logo-home"><a routerLink=""><img [src]="houseIcon" alt="Imagen desde URL"></a></div>
    <div class="logo-config" ><a routerLink="dates"><img [src]="managementIcon" alt="Imagen desde URL"></a></div>
    
    </div>
    
    <div class="user">
        <div class="user-name">UNIVERSIDAD DISTRITAL FRANCISCO JOSÉ DE CALDAS MESSAGE MANAGEMENT</div>
        <div class="user-image"><img [src]="uDistritalLogo" alt="Imagen desde URL"></div>
    </div>
</div>

<router-outlet></router-outlet>