.header {
    height: 90px;
    width: 207vh;
    padding: 20px 50px;
    background-color: #b10404;
    color: #fff;
    display: flex;
    justify-content: space-between;
    box-shadow: 5px 5px 5px #939393;
  
    .icons{
      display: flex;

      .logo-config{
        margin-left: 50px;
      }
    }
    
    .user {
      display: flex;
      align-items: center;
      font-weight: bold;
      .user-image {
        width: 70px;
        height: 70px;
        border-radius: 50%;
        border: 2px solid #fff;
        background-color: rgb(224, 205, 31);
        margin-left: 20px;
        display:flex;
        align-items: center;
        justify-content: center;
        font-weight: bold;
      }
      .user-image img{
        width: 60px;
      }
    }

    @media only screen and (max-width: 1020px) {
      .header{
       width: 500px;
      }
    @media only screen and (max-width: 450px) {
      .user{
        font-size: 80%;
      }

      @media only screen and (max-width: 385px) {
        .user{
         /*  margin: 10px; */
          font-size: 70%;
        }
    }
    }
    }
  }