<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Notificación de Matrícula Abierta</title>
</head>
<body style="margin: 0; padding: 0; background-color: #f0f0f0; font-family: Arial, sans-serif;">
    <table align="center" cellpadding="0" cellspacing="0" border="0" width="100%" style="max-width: 600px; margin: 0 auto; background-color: #fff; border: 1px solid #ccc; border-radius: 0.5rem; box-shadow: 0 0.25rem 0.5rem rgba(0, 0, 0, 0.1);">
        <tr>
            <td>
                <table align="center" cellpadding="0" cellspacing="0" border="0" width="100%" style="background-color: #ff0000; color: #fff; border-radius: 0.5rem;">
                    <tr>
                        <td style="padding: 1rem 1.5rem;">
                            <h1 style="font-size: 24px; font-weight: bold; text-align: center;">UNIVERSIDAD DISTRITAL FRANCISCO JOSÉ DE CALDAS</h1>
                        </td>
                    </tr>
                    <tr>
                        <td style="text-align: center;">
                            <img src="https://upload.wikimedia.org/wikipedia/commons/thumb/9/9b/Escudo_UD.png/800px-Escudo_UD.png" alt="Imagen" width="150" style="max-width: 100%; height: auto;">
                        </td>
                    </tr>
                </table>
            </td>
        </tr>
        <tr>
            <td style="padding: 1rem;">
                <p>Estimad@ Estudiante <span>Nombre</span></p>
                <p>Nos complace informarte que hemos abierto el periodo de pagos de matrícula para el semestre, queremos asegurarnos que puedas reservar tu lugar en los cursos y programas para continuar con tu educación superior.</p>
                <p>A continuación te proporcionamos las fechas establecidas:</p>
            </td>
        </tr>
        <tr>
            <td>
                <table cellpadding="0" cellspacing="2" border="0" width="100%" style="margin-top: 2rem;">
                    <tr>
                        <td style="background-color: #ff0000; color: #fff; padding: 0.5rem 1rem; border-radius: 0.5rem; text-align: center; margin: 2px; margin-bottom: 1rem;">
                            <h2 style="font-size: 16px; font-weight: bold;">fecha1</h2>
                            <p><span>FECHA ORDINARIA</span></p>
                        </td>
                        <td style="background-color: #ff0000; color: #fff; padding: 0.5rem 1rem; border-radius: 0.5rem; text-align: center; margin: 2px; margin-bottom: 1rem;">
                            <h2 style="font-size: 16px; font-weight: bold;">fecha2</h2>
                            <p><span>FECHA EXTRAORDINARIA</span></p>
                        </td>
                    </tr>
                </table>
            </td>
        </tr>
        <tr>
            <td style="background-color: #ff0000; color: #fff; padding: 1rem 1.5rem; text-align: center; border-bottom-left-radius: 0.5rem; border-bottom-right-radius: 0.5rem; margin-top: 2rem;">
                <h1><span>total</span></h1>
            </td>
        </tr>
        <tr>
            <td style="text-align: center; padding: 1rem;">
                <a href="https://estudiantes.portaloas.udistrital.edu.co/appserv/index_urano.html" target="_blank" style="display: inline-block; padding: 1rem 2rem; background-color: #ff0000; color: #fff; border-radius: 0.25rem; text-decoration: none; transition: background-color 0.3s;" onmouseover="this.style.backgroundColor='#ff9900';" onmouseout="this.style.backgroundColor='#ff0000';">¡Matricularse Ahora!</a>

            </td>
        </tr>
    </table>
</body>
</html>
