<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>NO HA PAGADO</title>
</head>
<body style="margin: 0; padding: 0; background-color: #f0f0f0; font-family: Arial, sans-serif;">
    <table align="center" cellpadding="0" cellspacing="0" border="0" width="100%" style="max-width: 600px; margin: 0 auto; background-color: #fff; border: 1px solid #ccc; border-radius: 0.5rem; box-shadow: 0 0.25rem 0.5rem rgba(0, 0, 0, 0.1);">
        <tr>
            <td>
                <table align="center" cellpadding="0" cellspacing="0" border="0" width="100%" style="background-color: #ff0000; color: #fff; border-radius: 0.5rem;">
                    <tr>
                        <td style="padding: 1rem 1.5rem;">
                            <h1 style="font-size: 24px; font-weight: bold; text-align: center;">UNIVERSIDAD DISTRITAL FRANCISCO JOSÉ DE CALDAS</h1>
                        </td>
                    </tr>
                    <tr>
                        <td style="text-align: center;">
                            <img src="https://upload.wikimedia.org/wikipedia/commons/thumb/9/9b/Escudo_UD.png/800px-Escudo_UD.png" alt="Imagen" width="150" style="max-width: 100%; height: auto;">
                        </td>
                    </tr>
                </table>
            </td>
        </tr>
        <tr>
            <td style="padding: 0.5rem;">
                <h3>Estimad@ Estudiante <span>Nombre</span></H3>
                <p>Esperamos que te encuentres bien. Queremos recordarte que tu matrícula para el próximo semestre en la Universidad Distrital Francisco José de Caldas aún no ha sido procesada. Hasta la fecha, no hemos recibido ningún registro de tu pago. </p>
                <p>La matrícula es un paso fundamental para asegurar tu participación en las clases, el acceso a recursos universitarios y la continuidad de tu carrera académica. Para facilitar este proceso, te invitamos a tomar medidas lo antes posible:</p>
                <ol style="margin-top: 2px;">
                    <li style="margin-top: 12px;">Verifica el estado de tu cuenta en línea: Accede a tu cuenta en el portal estudiantil y verifica el estado de tu matrícula para asegurarte de cualquier deuda pendiente.</li>
                    <li style="margin-top: 12px;">Realiza el pago: Utiliza las opciones de pago disponibles en el portal estudiantil. Asegúrate de hacerlo antes de la fecha de vencimiento ordinario para evitar cargos adicionales.</li>
                    <li style="margin-top: 12px;">Consultas y ayuda: Si tienes preguntas o necesitas asistencia para resolver cualquier problema relacionado con el pago de la matrícula, no dudes en contactarnos. Estamos aquí para ayudarte.</li>
                </ol>
                <h4>Estas son las fechas y el valor a pagar:</h4>

            </td>
        </tr>
        <tr>
            <td>
                <table cellpadding="0" cellspacing="2" border="0" width="100%" style="margin-top:1px">
                    <tr>
                        <td style="background-color: #ff0000; color: #fff; padding: 0.5rem 1rem; border-radius: 0.5rem; text-align: center; margin: 2px; margin-bottom: 1rem;">
                            <h2 style="font-size: 16px; font-weight: bold;">fecha1</h2>
                            <p><span>FECHA ORDINARIA</span></p>
                        </td>
                        <td style="background-color: #ff0000; color: #fff; padding: 0.5rem 1rem; border-radius: 0.5rem; text-align: center; margin: 2px; margin-bottom: 1rem;">
                            <h2 style="font-size: 16px; font-weight: bold;">fecha2</h2>
                            <p><span>FECHA EXTRAORDINARIA</span></p>
                        </td>
                    </tr>
                </table>
            </td>
        </tr>
        <tr>
            <td style="background-color: #ff0000; color: #fff; padding: 1rem 1.5rem; text-align: center; border-bottom-left-radius: 0.5rem; border-bottom-right-radius: 0.5rem; margin-top: 2rem;">
                <h1><span>total</span></h1>
            </td>
        </tr>
        <tr>
            <td style="padding: 1rem;">
                <p>Apreciamos tu compromiso con tu educación en la Universidad Distrital Francisco José de Caldas, y estamos aquí para apoyarte en este proceso. Si ya has realizado tu pago, por favor ignora este mensaje.</p>
                <p>Gracias por tu atención y cooperación.</p>
            </td>
        </tr>
        <tr>
            <td style="text-align: center; padding: 1rem;">
                <a href="https://estudiantes.portaloas.udistrital.edu.co/appserv/index_urano.html" target="_blank" style="display: inline-block; padding: 1rem 2rem; background-color: #ff0000; color: #fff; border-radius: 0.25rem; text-decoration: none; transition: background-color 0.3s;" onmouseover="this.style.backgroundColor='#ff9900';" onmouseout="this.style.backgroundColor='#ff0000';">¡Matricularse Ahora!</a>
            </td>
        </tr>
    </table>
</body>
</html>
